<?xml version="1.0" encoding="utf-8"?><!--
  Quasseldroid - Quassel client for Android

  Copyright (c) 2019 Janne Koschinski
  Copyright (c) 2019 The Quassel Project

  This program is free software: you can redistribute it and/or modify it
  under the terms of the GNU General Public License version 3 as published
  by the Free Software Foundation.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along
  with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="de.kuschku.quasseldroid">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

  <uses-feature
    android:name="android.hardware.touchscreen"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.type.pc"
    android:required="false" />

  <application
    android:name=".Quasseldroid"
    android:allowBackup="true"
    android:description="@string/app_description"
    android:fullBackupContent="@xml/backup_content"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.SplashTheme">

    <meta-data
      android:name="WindowManagerPreference:FreeformWindowSize"
      android:value="tablet" />
    <meta-data
      android:name="WindowManagerPreference:FreeformWindowOrientation"
      android:value="landscape" />

    <!-- Normal Chat -->
    <activity
      android:name=".ui.chat.ChatActivity"
      android:exported="true"
      android:label="@string/app_name"
      android:launchMode="singleTask"
      android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="irc" />
        <data android:scheme="ircs" />
      </intent-filter>
    </activity>

    <!-- Info -->
    <activity
      android:name="de.kuschku.quasseldroid.ui.info.user.UserInfoActivity"
      android:exported="false"
      android:label="@string/label_info_user"
      android:parentActivityName=".ui.chat.ChatActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name="de.kuschku.quasseldroid.ui.info.channel.ChannelInfoActivity"
      android:exported="false"
      android:label="@string/label_info_channel"
      android:parentActivityName=".ui.chat.ChatActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name="de.kuschku.quasseldroid.ui.info.core.CoreInfoActivity"
      android:exported="false"
      android:label="@string/label_info_core"
      android:parentActivityName=".ui.chat.ChatActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name="de.kuschku.quasseldroid.ui.chat.topic.TopicActivity"
      android:exported="false"
      android:label="@string/label_topic"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name="de.kuschku.quasseldroid.ui.info.channellist.ChannelListActivity"
      android:exported="false"
      android:label="@string/label_info_channellist"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name="de.kuschku.quasseldroid.ui.info.certificate.CertificateInfoActivity"
      android:exported="false"
      android:label="@string/label_info_certificate"
      android:windowSoftInputMode="adjustResize" />

    <!-- Add -->
    <activity
      android:name="de.kuschku.quasseldroid.ui.chat.add.create.ChannelCreateActivity"
      android:exported="false"
      android:label="@string/label_create_channel"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name="de.kuschku.quasseldroid.ui.chat.add.join.ChannelJoinActivity"
      android:exported="false"
      android:label="@string/label_join_long"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name="de.kuschku.quasseldroid.ui.chat.add.query.QueryCreateActivity"
      android:exported="false"
      android:label="@string/label_query_medium"
      android:windowSoftInputMode="adjustResize" />

    <!-- Core Settings -->
    <activity
      android:name=".ui.coresettings.CoreSettingsActivity"
      android:exported="false"
      android:label="@string/label_settings_core"
      android:parentActivityName=".ui.chat.ChatActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.coresettings.network.NetworkCreateActivity"
      android:exported="false"
      android:label="@string/settings_network_title"
      android:parentActivityName=".ui.coresettings.CoreSettingsActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.coresettings.network.NetworkEditActivity"
      android:exported="false"
      android:label="@string/settings_network_title"
      android:parentActivityName=".ui.coresettings.CoreSettingsActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.coresettings.networkserver.NetworkServerActivity"
      android:exported="false"
      android:label="@string/settings_networkserver_title"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.coresettings.identity.IdentityCreateActivity"
      android:exported="false"
      android:label="@string/settings_identity_title"
      android:parentActivityName=".ui.coresettings.CoreSettingsActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.coresettings.identity.IdentityEditActivity"
      android:exported="false"
      android:label="@string/settings_identity_title"
      android:parentActivityName=".ui.coresettings.CoreSettingsActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.coresettings.chatlist.ChatlistCreateActivity"
      android:exported="false"
      android:label="@string/settings_chatlist_title"
      android:parentActivityName=".ui.coresettings.CoreSettingsActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.coresettings.chatlist.ChatlistEditActivity"
      android:exported="false"
      android:label="@string/settings_chatlist_title"
      android:parentActivityName=".ui.coresettings.CoreSettingsActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.coresettings.ignorelist.IgnoreListActivity"
      android:exported="false"
      android:label="@string/settings_ignorelist_title"
      android:parentActivityName=".ui.coresettings.CoreSettingsActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.coresettings.ignoreitem.IgnoreItemActivity"
      android:exported="false"
      android:label="@string/settings_ignoreitem_title"
      android:parentActivityName=".ui.coresettings.ignorelist.IgnoreListActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.coresettings.highlightlist.HighlightListActivity"
      android:exported="false"
      android:label="@string/settings_highlightlist_title"
      android:parentActivityName=".ui.coresettings.CoreSettingsActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.coresettings.highlightrule.HighlightRuleActivity"
      android:exported="false"
      android:label="@string/settings_highlightrule_title"
      android:parentActivityName=".ui.coresettings.highlightlist.HighlightListActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.coresettings.aliaslist.AliasListActivity"
      android:exported="false"
      android:label="@string/settings_aliaslist_title"
      android:parentActivityName=".ui.coresettings.CoreSettingsActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.coresettings.aliasitem.AliasItemActivity"
      android:exported="false"
      android:label="@string/settings_aliasitem_title"
      android:parentActivityName=".ui.coresettings.aliaslist.AliasListActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.coresettings.networkconfig.NetworkConfigActivity"
      android:exported="false"
      android:label="@string/settings_networkconfig_title"
      android:parentActivityName=".ui.coresettings.CoreSettingsActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name="de.kuschku.quasseldroid.ui.coresettings.passwordchange.PasswordChangeActivity"
      android:exported="false"
      android:label="@string/label_password_change"
      android:windowSoftInputMode="adjustResize" />

    <!-- Client Settings -->
    <activity
      android:name=".ui.clientsettings.client.ClientSettingsActivity"
      android:exported="false"
      android:label="@string/label_settings_client"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.clientsettings.crash.CrashActivity"
      android:exported="false"
      android:label="@string/label_crashes"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.clientsettings.whitelist.WhitelistActivity"
      android:exported="false"
      android:label="@string/label_certificates"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.clientsettings.about.AboutActivity"
      android:exported="false"
      android:label="@string/label_about"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.clientsettings.license.LicenseActivity"
      android:exported="false"
      android:label="@string/label_license"
      android:parentActivityName=".ui.clientsettings.about.AboutActivity"
      android:windowSoftInputMode="adjustResize" />

    <!-- Client Setup Flow -->
    <activity
      android:name=".ui.setup.accounts.selection.AccountSelectionActivity"
      android:exported="false"
      android:label="@string/app_name"
      android:parentActivityName=".ui.chat.ChatActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.setup.accounts.setup.AccountSetupActivity"
      android:exported="false"
      android:label="@string/app_name"
      android:parentActivityName=".ui.setup.accounts.selection.AccountSelectionActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.setup.accounts.edit.AccountEditActivity"
      android:exported="false"
      android:label="@string/app_name"
      android:parentActivityName=".ui.setup.accounts.selection.AccountSelectionActivity"
      android:windowSoftInputMode="adjustResize" />

    <!-- Core Setup Flow -->
    <activity
      android:name=".ui.setup.core.CoreSetupActivity"
      android:exported="false"
      android:label="@string/setup_core_title"
      android:parentActivityName=".ui.chat.ChatActivity"
      android:windowSoftInputMode="adjustResize" />

    <!-- Core User Setup Flow -->
    <activity
      android:name=".ui.setup.user.UserSetupActivity"
      android:exported="false"
      android:label="@string/setup_user_title"
      android:parentActivityName=".ui.chat.ChatActivity"
      android:windowSoftInputMode="adjustResize" />

    <!-- Network Setup Flow -->
    <activity
      android:name=".ui.setup.network.NetworkSetupActivity"
      android:exported="false"
      android:label="@string/setup_network_title"
      android:parentActivityName=".ui.chat.ChatActivity"
      android:windowSoftInputMode="adjustResize" />

    <!-- Services -->
    <service
      android:name=".service.QuasselService"
      android:description="@string/connection_service_description"
      android:exported="false"
      android:label="@string/connection_service_title" />

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/filepaths" />
    </provider>
  </application>

</manifest>
