<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="de.kuschku.quasseldroid">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <!-- Enable after we target Android P -->
  <!--<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->

  <application
    android:name=".QuasselDroid"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher_legacy"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.SplashTheme">
    <activity
      android:name=".ui.chat.ChatActivity"
      android:exported="true"
      android:label="@string/app_name"
      android:launchMode="singleTask"
      android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>

    <activity
      android:name=".ui.setup.accounts.setup.AccountSetupActivity"
      android:exported="false"
      android:label="@string/app_name"
      android:parentActivityName=".ui.setup.accounts.selection.AccountSelectionActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.setup.accounts.edit.AccountEditActivity"
      android:exported="false"
      android:label="@string/app_name"
      android:parentActivityName=".ui.setup.accounts.selection.AccountSelectionActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.settings.app.AppSettingsActivity"
      android:exported="false"
      android:label="@string/label_settings"
      android:parentActivityName=".ui.chat.ChatActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.settings.crash.CrashSettingsActivity"
      android:exported="false"
      android:label="@string/label_crashes"
      android:parentActivityName=".ui.settings.app.AppSettingsActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.settings.about.AboutSettingsActivity"
      android:exported="false"
      android:label="@string/label_about"
      android:parentActivityName=".ui.settings.app.AppSettingsActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.settings.license.LicenseSettingsActivity"
      android:exported="false"
      android:label="@string/label_license"
      android:parentActivityName=".ui.settings.about.AboutSettingsActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".ui.setup.accounts.selection.AccountSelectionActivity"
      android:exported="false"
      android:label="@string/app_name"
      android:parentActivityName=".ui.chat.ChatActivity"
      android:windowSoftInputMode="adjustResize" />

    <service
      android:name=".service.QuasselService"
      android:description="@string/connection_service_description"
      android:exported="false"
      android:label="@string/connection_service_title" />
  </application>

</manifest>
