<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="de.kuschku.quasseldroid">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <!-- Enable after we target Android P -->
  <!--<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->

  <application
    android:name=".QuasselDroid"
    android:allowBackup="true"
    android:description="@string/app_description"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.SplashTheme">

    <!-- Normal Chat -->
    <activity
      android:name=".ui.chat.ChatActivity"
      android:exported="true"
      android:label="@string/app_name"
      android:launchMode="singleTask"
      android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>
    <activity
      android:name=".ui.chat.info.InfoActivity"
      android:exported="false"
      android:label="@string/label_details"
      android:parentActivityName=".ui.chat.ChatActivity"
      android:windowSoftInputMode="adjustResize" />

    <!-- Client Settings -->
    <activity
      android:name=".ui.clientsettings.app.AppSettingsActivity"
      android:exported="false"
      android:label="@string/label_settings_client"
      android:parentActivityName=".ui.chat.ChatActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.clientsettings.crash.CrashSettingsActivity"
      android:exported="false"
      android:label="@string/label_crashes"
      android:parentActivityName=".ui.clientsettings.app.AppSettingsActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.clientsettings.about.AboutSettingsActivity"
      android:exported="false"
      android:label="@string/label_about"
      android:parentActivityName=".ui.clientsettings.app.AppSettingsActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.clientsettings.license.LicenseSettingsActivity"
      android:exported="false"
      android:label="@string/label_license"
      android:parentActivityName=".ui.clientsettings.about.AboutSettingsActivity"
      android:windowSoftInputMode="adjustResize" />

    <!-- Core Settings -->
    <activity
      android:name=".ui.coresettings.CoreSettingsActivity"
      android:exported="false"
      android:label="@string/label_settings_core"
      android:parentActivityName=".ui.chat.ChatActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.coresettings.identity.IdentityActivity"
      android:exported="false"
      android:label="@string/settings_identity_title"
      android:parentActivityName=".ui.coresettings.CoreSettingsActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.coresettings.networkconfig.NetworkConfigActivity"
      android:exported="false"
      android:label="@string/settings_networkconfig_title"
      android:parentActivityName=".ui.coresettings.CoreSettingsActivity"
      android:windowSoftInputMode="adjustResize" />

    <!-- Client Setup Flow -->
    <activity
      android:name=".ui.setup.accounts.selection.AccountSelectionActivity"
      android:exported="false"
      android:label="@string/app_name"
      android:parentActivityName=".ui.chat.ChatActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.setup.accounts.setup.AccountSetupActivity"
      android:exported="false"
      android:label="@string/app_name"
      android:parentActivityName=".ui.setup.accounts.selection.AccountSelectionActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.setup.accounts.edit.AccountEditActivity"
      android:exported="false"
      android:label="@string/app_name"
      android:parentActivityName=".ui.setup.accounts.selection.AccountSelectionActivity"
      android:windowSoftInputMode="adjustResize" />

    <!-- Services -->
    <service
      android:name=".service.QuasselService"
      android:description="@string/connection_service_description"
      android:exported="false"
      android:label="@string/connection_service_title" />
  </application>

</manifest>
